// COLORS
$primary-color: #232124;
$secondary-color: #36436b;

$white-color: #e6e6e6;

$dark-grey: #333333;
$light-grey: #eee7d5;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 2.6rem;
$big-font-size: 4rem;
$mid-font-size: 3.5rem;
