/* style for buttons on about me section */
.cta-btn {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Add this line */
}

.section-title {
  padding-top: 100px;
  color: #faf9f6;
  font-size: 32px;
}

.aboutMe,
.hobbies {
  color: #faf9f6;
  font-weight: bold;
  font-size: 34px;
}

/* custom hyperlink for Rusch Original Website */

.ruschLink {
  font-weight: bolder;
}

.ruschLink:hover {
  color: #faf9f6 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease;
  background-color: #282b38;
  border-radius: 4px;
  padding: 6px;
}

/* Styles for desktop and smaller windows */

@media only screen and (max-width: 767px) {
  .about-wrapper__image {
    text-align: center;
  }

  .about-wrapper__image img {
    max-width: 100%;
    height: auto;
  }

  .about-wrapper__info-text {
    text-align: center;
    margin-top: 1.5rem;
  }
}

/* Styles For Mobile */
@media only screen and (max-width: 480px) {
  .row {
    flex-direction: column-reverse;
  }

  .col-lg-8,
  .col-lg-4 {
    width: 100%;
  }

  .col-lg-8 {
    margin-bottom: 1.5rem;
  }

  .project-wrapper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem; /* Adjust the padding as desired */
  }

  .project-wrapper__image {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem; /* Adjust the margin as desired */
  }

  .project-wrapper__text-title {
    font-size: 32px !important; /* Adjust the font size as desired for smaller screens */
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .cta-btn--center {
    margin: 0 auto;
  }

  .cta-btn--desktop-only {
    display: none;
  }

  .cta-btn {
    display: block;
    margin-top: 1.5rem; /* Adjust the margin as desired */
  }
}
